<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>The home page</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo dolorem
      delectus enim maxime deserunt, laborum at corporis, ab quae officiis
      cupiditate incidunt eius asperiores corrupti tenetur voluptatibus vel
      aspernatur commodi?
    </p>
  </body>
</html>
